.navbar{
  background-color: #333;
  padding: 10px;
  height: 50px auto;}

.navbar ul{
  list-style: none;
  margin: 0;
  padding: 0;}

.navbar li{
  display: inline;
  margin: 0 15px}

.navbar a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial;}

.navbar a:hover{
  color: yellow;}

form, p, ul{
  font-family: Arial;
  font-size: 20px;}

body{
  background-color: lightblue;}

.intro{
  margin: 0 25px;
  padding: 10px;
  background-color: lightcyan;} 

.vision{
  margin: 0 25px;
  padding: 10px;
  background-color: lightcyan;}

.offers{
  margin: 0 40px;
  padding: 15px;
  font-size: 22px;}

form{
  padding: 18px;
  margin: 0 40px;
  background-color: lightcyan;}

.container{
    display: flex;              
    justify-content: center;    
    gap: 40px;                  
    margin: 0 25px}

.box{
    background-color: lightcyan;
    width: fit-content;
    padding: 20px;
    text-align: center;}



